*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: #ecf2f8;
    font-family: 'Barlow Semi Condensed', sans-serif;

    
}
#testimonial-1{
    background-color: #7541c8;
    color:white;
    position: relative;
}
#testimonial-2{
    background-color: #485568;
    color:white; 
}

#testimonial-3{
    background-color: #fff;
}

#testimonial-4{
    background-color: #19212e;
    color:white;  
}

#testimonial-5{
    background-color: #fff;
}

#testimonial-grid-container{
    padding:5% 3%;
}

.grid-item{
    margin-bottom: 20px;
    padding:20px;
    border-radius: 15px;
    box-shadow: 1px 1px 10px 1px rgb(0, 0, 0,0.4);
    font-size: 13px;
}
.header{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    
}
.header img{
    border-radius: 25px;
    margin-right: 10px;
    border: 1px solid #485568;
}
.grid-item h4{
    margin-bottom: 10px;
    font-size: 1rem;
    z-index: 3;
    
}

.grid-item p{
    opacity: 60%;
}

#quote{
    position: absolute;
    right:10%;
    border:none;
    top:0;
    z-index:0;
    opacity: 40%;
   
}

@media(min-width:576px) {
    #testimonial-grid-container{
        display: flex;
        max-width: 1200px;
        margin:0 auto;
        justify-content: space-between;

    }
    #testimonial-5{
        flex-basis:20%;
    }
    #testimonial-1,#testimonial-4{
        flex-basis:60%;
        
    }
    #testimonial-2,#testimonial-3{
        flex-basis:40%;
    }
    #main-left{
        display: flex;
        flex-direction: column;
        flex-basis: 80%;
    }
    #top,#bottom{
        display: flex;
        flex-basis: 50%;
        
    }

    #main-left .grid-item{
        margin-right: 20px;
    }
}